
.color-picker{
    display: flex;

}

.color{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
}
