#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This sets the height of the div to the full viewport height */
  width: 100vw; /* This sets the width of the div to the full viewport width */
  
}






