body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.textContainer {
  align-items: center;
  width: 68vw;
  height: 15vh;
  background: whitesmoke;
  box-shadow: 0 0 20px 2px grey;
  border-radius: 0.5rem;
  padding: 1rem;
  outline: none;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.keyboard {
  width: 70vw;
  height: 50vh;
  background: darkgray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.space {
  width: 50%;
  height: 2rem;
  background: grey;
}

.key {
  margin: 0;
  text-align: center;
  border-radius: 2px;
  background: none;
  border: none;
  color: black;
}

.key:active {
  background: white;
}

.active {
  background: whitesmoke;
}

.body {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  font-size: 1.5rem;
}

.header {
  padding: 0 1rem 4rem 1rem;
  display: flex;
  justify-content: space-evenly;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
