h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(63, 63, 63);
  margin: 0;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(63, 63, 63);
  margin: 0.5rem;
}

.player {
  width: 15rem;
  height: 23rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-size: large;
  font-weight: bold;
  padding: 10px 10px;
}

.scores {
  font-size: 20px;
}

.action {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}
