body {
  --color-text: rgb(161, 88, 88);
  --color-background: rgba(161, 88, 88, 0.3);
  text-align: center;
  justify-content: center;
}

form {
  align-items: center;
  width: 80%;
  justify-content: space-around;

}

form input {
  background: rgba(255, 255, 255, 0);
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--color-text);
  padding: 5px;
  color: var(--color-text);
  font-size: 1.4rem;
  text-align: center;
  margin: 10px;
}

input:focus {
  outline: none;
  background-color: var(--color-background);
}

label {
    padding: 10px;

  font-size: 3rem;
  font-weight: bold;
  color: var(--color-text);
}

button {
  background: var(--color-background);
  margin: 10px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: bold;
}
